.white {
    color: white;
    font-size: 20px;
  }
  input[type='date']  {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    outline: none;
}
input[type='submit']{
    display: block;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    outline: none;
    align-items: center;
}